# Configurações do Servidor
PORT=3001
NODE_ENV=development

# URL do endpoint com dados criptografados
ENCRYPTED_DATA_URL=ulr_dos_dados

# URL do webhook do N8N para envio dos dados
N8N_WEBHOOK_URL=http://localhost:5678/webhook/process-data

# URL do webhook do N8N para limpeza dos dados
N8N_CLEAR_WEBHOOK_URL=http://localhost:5678/webhook/clear-data

# Configurações de CORS
CORS_ORIGIN=http://localhost:3000

# Configurações de Log
LOG_LEVEL=info
http://localhost:5678/webhook-test/receive-data
